<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedores | Multiservicios Leo</title>
    <link rel="icon" href="logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style-agregarVenta.css">
</head>
<body>
    <header class="header"></header>
    <nav class="navbar"></nav>
    <main class="contenedor_main">
        <div class="contenedor_modal">
            <div class="title__add--modal">
                <p>Realizar Nueva Venta</p>
            </div>
            <div class="contenedor__form--venta">
                <form action="">
                    <div class="cont_cod-nom">
                        <div class="cont-cod">
                            <label for="">Codigo</label><br>
                            <input type="text" disabled>
                        </div>
                        <div class="cont-nom">
                            <label for=""></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script src="general.js"></script>
</body>
</html>