<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Multiservicios Leo</title>
    <link rel="icon" href="logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="header">
        <div class="contenedor__logo">
            <img src="logo.png" alt="">
        </div>
        <div class="title__inicio">
            <p>Sistemas de Gestion de Inventario</p>
        </div>
        <div class="contenedor__perfil">
            <div class="icon__notifi">
                <p><i class="fa-regular fa-bell"></i></p>
            </div>
            <div class="linea"></div>
            <div class="profile">
                <div class="name_profile">
                    <p th:if="${nombre != null}" th:text="${nombre}"><span>Hola:</span> Jefe de market</p>
                    <p th:if="${rol != null}" th:text="${rol}">Administrador</p>
                </div>
                <div class="img_perfil">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar">
        <div class="contenedor__navbar">
            <div class="accesoUser">
                <ul>
                    <li class="pagina_activa"><i class="fa-solid fa-gauge"></i><a href="/index">Inicio</a></li>
                    <li><i class="fa-solid fa-cart-shopping"></i><a href="/nuevaVenta">Venta nueva</a></li>
                    <!-- <li><i class="fa-solid fa-clipboard"></i><a href="#">Historial de venta</a></li> -->
                    <li><i class="fa-solid fa-arrow-trend-up"></i><a href="/stock">Stock</a></li>
                    <li><i class="fa-solid fa-basket-shopping"></i><a href="/pedidos">Pedidos</a></li>
                </ul>
            </div>
            <div class="accesoAdmin">
                <p>Mantenimiento: </p>
                <ul>
                    <li><i class="fa-solid fa-chart-line"></i><a href="/dashboard">DashBoard</a></li>
                    <li><i class="fa-solid fa-truck-field-un"></i><a href="/proveedores">Proveedores</a></li>
                    <li><i class="fa-solid fa-layer-group"></i><a href="/categoria">Categorias</a></li>
                    <li><i class="fa-brands fa-product-hunt"></i><a href="/productos">Productos</a></li>
                    <li><i class="fa-solid fa-users"></i><a href="/usuarios">Usuario</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="contenedor_main">
        <div class="contenedor__inicio">
            <div class="title_cont">
                <h1>Sistemas web de Inventario</h1>
            </div>
            <div class="contenido">
                <div class="item">
                    <i class="fa-solid fa-cart-shopping"></i><a href="/nuenvaVenta">Venta nueva</a></li>
                </div>
                <!-- <div class="item">
                    <i class="fa-solid fa-clipboard"></i><a href="#">Historial de venta</a>
                </div> -->
                <div class="item">
                    <i class="fa-solid fa-arrow-trend-up"></i><a href="/stock">Stock</a></li>
                </div>
                <div class="item">
                    <i class="fa-solid fa-basket-shopping"></i><a href="/pedidos">Pedidos</a></li>
                </div>
                <div class="item item-admin">
                    <i class="fa-solid fa-chart-line"></i><a href="/dashboard">DashBoard</a>
                </div>
                <div class="item item-admin">
                    <i class="fa-solid fa-truck-field-un"></i><a href="/proveedores">Proveedores</a>
                </div>
                <div class="item item-admin">
                    <i class="fa-solid fa-layer-group"></i><a href="/categoria">Categorias</a>
                </div>
                <div class="item item-admin">
                    <i class="fa-brands fa-product-hunt"></i><a href="/productos">Productos</a>
                </div>
                <div class="item item-admin">
                    <i class="fa-solid fa-users"></i><a href="/usuarios">Usuario</a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>